extends ./../../../common/_layouts/_layout.pug

block title
  h1.title.screen-reader-text #{page.title}

mixin listtools(tools, category)
  #tools
    if tools && tools.length >= 1
      .sdr-list-search
        input.search(type="search", placeholder="Search...")
    ul.list.sdr-list
      if tools && tools.length
        each tool in tools
          li
            .media.media-left
              a.thumbnail.thumbnail-small(href=tool.url, style='background-color:' + tool.color)!= tool.icon
              .media-body
                h2.entry-title        
                  a(href=tool.url, target=tool.target) #{tool.name}
                div.entry-content #{tool.description}
      if !tools || tools.length == 0
        p.text-center Our code monkeys are working on adding <strong>#{category}</strong> tools. Please check back later..
      else if tools.length < 5
        p.section-large.text-center.text-muted.text-small Our code monkeys are working on adding more <strong>#{category}</strong> tools.<br>If you have a suggestion, please don't hesitate to <a href="https://superdevresources.com/contact/">contact</a>.

block content
  .main
    .container-wide
      .wrapper
        .content
          .container-readable
            .animated.fadeIn
              .section
                +listtools(data.tools[page.category], page.category)
        .sidebar.sidebar-left
          .menu-toggle
            input#menu-toggle(type="checkbox")
            label(class="alignright" for="menu-toggle")
              span(class="css-icon-hamburger")
                span Toggle
              span Menu
            .menu-toggle-content.sidebar-content
              nav
                ul.tools-categories-menu
                  li.menu-header Categories
                  li
                    a(href="/" class=(page.path === '/') ? 'current-menu-item': '') All Tools
                  li
                    a(href="/color" class=(page.path === '/color') ? 'current-menu-item' : '')
                      | Color Tools
                  li
                    a(href="/image" class=(page.path === '/image') ? 'current-menu-item' : '')
                      |  Image Tools
                  li
                    a(href="/writing" class=(page.path === '/writing') ? 'current-menu-item' : '')
                      |  Writing Tools
                  li
                    a(href="/dev" class=(page.path === '/dev') ? 'current-menu-item' : '')
                      |  Dev Tools
                  li
                    a(href="/social" class=(page.path === '/social') ? 'current-menu-item' : '')
                      |  Social Tools
        .sidebar.sidebar-right
          .sidebar-content
            div(style="background:rgba(0,0,0,0.01);width:300px;height:250px;margin-bottom:2em;border:1px solid #eee;")
              a(href="https://creativemarket.com/free-goods?u=monikaratan", target="_blank")
                img(src="/img/partners/creative-market-free-goods.jpg", width="300", height="250")


block scripts
  script(src='https://unpkg.com/list.js@1.2.0/dist/list.min.js')
  script.
    var options = {
      valueNames: [ 'entry-title', 'entry-content' ]
    };

    var toolsList = new List('tools', options);