extends ./../../../common/_layouts/_layout.pug

block title
  h1.title.screen-reader-text #{page.title}

block header-right
  .menu-toggle
    input(type="checkbox")#menu-toggle
    label(for="menu-toggle").header-right
      span.css-icon-hamburger
        span Toggle
      span Menu
    .menu-toggle-content      
      +menu(data.menu.main, 'menu')
      .header-right        
        +menu(data.menu.secondary, 'menu')
        .expandable-search
          include ./../_includes/search-form.html

mixin listtools(tools, category)
  #tools
    if tools && tools.length >= 5
      .sdr-list-search
        input.search(type="search", placeholder="Search...")
    ul.list.sdr-list
      if tools && tools.length
        each tool in tools
          li
            .media.media-left
              a.thumbnail.thumbnail-small.thumbnail-rounded(href=tool.url, style='background-color:' + tool.color)!= tool.icon
              .media-body
                h2.entry-title        
                  a(href=tool.url) #{tool.name}
                div.entry-content #{tool.description}
      if !tools || tools.length == 0
        p.text-center Our code monkeys are working on adding <strong>#{category}</strong> tools. Please check back later..
      else if tools.length < 3
        p.section-large.text-center.text-muted.text-small Our code monkeys are working on adding more <strong>#{category}</strong> tools.<br>If you have a suggestion, please don't hesitate to <a href="https://superdevresources.com/contact/">contact</a>.

block content
  .main
    .container-wide
      .wrapper
        .content
          .container-readable
            .animated.fadeIn
              .section
                +listtools(data.tools[page.category], page.category)
              .section
                +adlinks1('text-center')
        .sidebar.sidebar-left
          .menu-toggle
            input#category-toggle(type="checkbox")
            label(class="alignright" for="category-toggle")
              span(class="css-icon-hamburger")
                span Toggle
              span Categories
            .menu-toggle-content.sidebar-content
              nav
                ul.tools-categories-menu
                  li.menu-header Categories
                  li
                    a(href="/" class=(page.path === '/') ? 'current-menu-item': '') All Tools
                  li
                    a(href="/color" class=(page.path === '/color') ? 'current-menu-item' : '')
                      | Color Tools
                  li
                    a(href="/image" class=(page.path === '/image') ? 'current-menu-item' : '')
                      |  Image Tools
                  li
                    a(href="/writing" class=(page.path === '/writing') ? 'current-menu-item' : '')
                      |  Writing Tools
                  li
                    a(href="/code" class=(page.path === '/code') ? 'current-menu-item' : '')
                      |  Code Tools
                  li
                    a(href="/social" class=(page.path === '/social') ? 'current-menu-item' : '')
                      |  Social Tools
        .sidebar.sidebar-right
          .sidebar-content
            div(style="background:rgba(0,0,0,0.01);width:300px;height:250px;margin-bottom:2em;border:1px solid #eee;")
block footer
  footer.footer
    .footer-main.container-content 
      div.grid        
        div.one-fourth
          a(href='https://superdevresources.com/')
            img.footer-logo(src="/img/sdr-logo.png")
          div We collect, create and publish awesome free web design and development resources.
            |  <a class="text-small" href="https://superdevresources.com/about/">Learn More</a>
            p Join our <a href="https://superdevresources.com/subscribe/">Newsletter</a> for updates.
        div.one-fourth
          h3.h4 Browse
          +menu(data.menu.main)
        div.one-fourth
          h3.h4 About
          +menu(data.menu.footer)
        div.one-fourth
          h3.h4 Follow
          +menu(data.menu.social)
    div.footer-credit.section.text-center
      div.container-content
        div.text-small Copyright © <a href="http://kunruchcreations.com/">KunRuch Creations</a>, All rights reserved.
          br
          | Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a> and <a href="https://mmcss.kunruchcreations.com/" target="_blank">mmcss</a>
          | - <a href="#top" data-uk-smooth-scroll="">↑ Back to top</a>

block scripts
  script(src='https://unpkg.com/list.js@1.2.0/dist/list.min.js')
  script.
    var options = {
      valueNames: [ 'entry-title', 'entry-content' ]
    };

    var toolsList = new List('tools', options);