extends ./../../../common/_layouts/_layout.pug

block title
  h1.title.screen-reader-text #{title}

block header_center
  .hidden-mobile
    +menu(data.menu.main)

block header_right
  nav
    ul.menu
      li.menu-item
        a(href="https://superdevresources.com/about/") About
      li.menu-item
        a(href='https://twitter.com/superdevres42', target="_blank", title="Twitter")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      li.menu-item
        a(href='https://github.com/super-dev/', target="_blank", title="Github")
          | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>


mixin listtools(tools, category)
  #tools
    if tools.length >= 5
      .sdr-list-search
        input.search(type="search", placeholder="Search...")
    ul.list.sdr-list
      if tools.length
        each tool in tools
          li
            .media.media-left
              a.thumbnail.thumbnail-small.thumbnail-rounded(href=tool.url, style='background-color:' + tool.color)!= tool.icon
              .media-body
                h2.entry-title        
                  a(href=tool.url) #{tool.name}
                div.entry-content #{tool.description}
      if tools.length == 0
        p.text-center Our code monkeys are working on adding <strong>#{category}</strong> tools. Please check back later..
      else if tools.length < 3
        p.section-large.text-center.text-muted.text-small Our code monkeys are working on adding more <strong>#{category}</strong> tools.<br>If you have a suggestion, please don't hesitate to <a href="https://superdevresources.com/contact/">contact</a>.

block content
  .main
    .container-readable
      .sdr-submenu
        a.button.button-text(href="/" class=(page.path === '/') ? 'router-link-active': '') All
        a.button.button-text(href="/design" class=(page.path === '/design') ? 'router-link-active' : '')
          include ./../_includes/icons/_brush.svg              
          | Design
        a.button.button-text(href="/development" class=(page.path === '/development') ? 'router-link-active' : '')
          include ./../_includes/icons/_code.svg              
          | Development
        a.button.button-text(href="/marketing" class=(page.path === '/marketing') ? 'router-link-active' : '')
          include ./../_includes/icons/_bullhorn.svg              
          | Marketing
    .container-readable.animated.fadeIn
      .section
        block toollist
      .section
        +adlinks1('text-center')

block footer
  footer.footer
    .container-readable.section.text-center
      a(href='https://superdevresources.com/')
        img.footer-logo(src="/img/sdr-logo.png")
      div Super Dev Resources is a popular destination for finding
        br
        | awesome free app and web development resources. <a class="text-small" href="https://superdevresources.com/about/">Learn More</a>
      +social(data.menu.social)
      .section
        +menu(data.menu.footer)
        p.text-small Copyright © <a href="http://kunruchcreations.com/">KunRuch Creations</a>, All rights reserved.
          br
          | Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a>.

block scripts
  script(src='https://unpkg.com/list.js@1.2.0/dist/list.min.js')
  script.
    var options = {
      valueNames: [ 'entry-title', 'entry-content' ]
    };

    var toolsList = new List('tools', options);