doctype html
block vars
- var url_base = 'https://superdevresources.com/tools/'
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - Super Dev Resources
    meta(name='description', content='#{description}')
    meta(property='og:title', content='#{title}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{url_base}#{slug}')
    meta(property='og:image', content='#{url_base}img/featured/#{ogimage}')
    link(rel='canonical', href='#{url_base}#{slug}')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.almost-flat.min.css', rel='stylesheet')
    +style('main')
    block styles
    link(rel='icon', href='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-32x32.png', sizes='32x32')
    link(rel='icon', href='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-180x180.png')
    meta(name='msapplication-TileImage', content='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-270x270.png')
    +analytics
  body
    header(class='tools-head')
      div.uk-container.uk-container-center
        a(href='/', class='head-logo uk-align-left uk-hidden-small', rel='home')
          img.tm-logo(src='http://local.superdevresources.dev/wp-content/uploads/2016/02/dark.png', alt='Super Dev Resources Tools', scale='0')
        a(href='/tools/', class='head-home uk-align-right')
          i(class='uk-icon-th-large') 
          span Tools
        block pagetitle
    div(class='uk-block main-content')
      block content
    div(class='site-share-buttons')
      a(href='http://www.facebook.com/sharer.php?u=#{url_base}#{slug}', target='_blank', rel='external nofollow')
        i.uk-icon-facebook
        | Share on Facebook
      a(href='http://twitter.com/share?text=#{description}&url=#{url_base}#{slug}&via=superdevres42&related=superdevres42,kanishkkunal,monikaratan', target='_blank', rel='external nofollow')
        i.uk-icon-twitter
        | Share on Twitter
    .site-footer-menu
      ul
        li
          a(href='/') Home
        li
          a(href='/topics/') Topics
        li
          a(href='/directory/') Directory          
        li
          a(href='/tools/') Tools
        li
          a(href='/subscribe/') Subscribe          
        li
          a(href='/about/') About
        li
          a(href='/privacy-policy/') Privacy Policy
        li
          a(href='/contact/') Contact
    .site-footer
      | Copyright © 
      a(href='http://kunruchcreations.com/', title='KunRuch Creations', target='_blank') KunRuch Creations
      |  - Hosting by 
      a(href='https://superdevresources.com/go/digitalocean', rel='nofollow', target='_blank') DigitalOcean
    block scripts
