doctype html
block vars
- var url_base = 'https://superdevresources.com/tools/'
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title #{title} - Super Dev Resources
    meta(name='description', content='#{description}')
    meta(property='og:title', content='#{title}')
    meta(property='og:type', content='website')
    meta(property='og:url', content='#{url_base}#{slug}')
    meta(property='og:image', content='#{url_base}img/featured/#{ogimage}')
    link(rel='canonical', href='#{url_base}#{slug}')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700', rel='stylesheet', type='text/css')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.23.0/css/uikit.almost-flat.min.css', rel='stylesheet')
    +style('main')
    block styles
    link(rel='icon', href='#{url_base}img/sdr-favicon-32x32.png', sizes='32x32')
    link(rel='icon', href='#{url_base}img/sdr-favicon-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='#{url_base}img/sdr-favicon-180x180.png')
    meta(name='msapplication-TileImage', content='#{url_base}img/sdr-favicon-270x270.png')
    +analytics
  body#top
    header(class='tools-head')
      div.uk-container.uk-container-center
        a(href='/', class='head-logo uk-align-left uk-hidden-small', rel='home')
          img.tm-logo(src='/tools/img/sdr-logo-dark.png', alt='Super Dev Resources Tools', scale='0')
        a(href='/tools/', class='head-home uk-align-right')
          i(class='uk-icon-th-large') 
          span Tools
        block pagetitle
    div(class='uk-block main-content')
      block content
    div(class='site-share-buttons')
      a(class='tm-share-facebook', href='http://www.facebook.com/sharer.php?u=#{url_base}#{slug}', target='_blank', rel='external nofollow')
        i.uk-icon-facebook
        | Share on Facebook
      a(class='tm-share-twitter', href='http://twitter.com/share?text=#{description}&url=#{url_base}#{slug}&via=superdevres42&related=superdevres42,kanishkkunal,monikaratan', target='_blank', rel='external nofollow')
        i.uk-icon-twitter
        | Share on Twitter
    .site-footer
      .tm-mega-footer.uk-block
        .uk-container.uk-container-center
          p
            img(src='/tools/img/sdr-logo-light.png', height='48', width='54', alt='Super Dev Logo')
            br
            a(href='/', rel='home', title='Super Dev Resources') Super Dev Resources
            |  is a popular destination for finding
            br
            | awesome free app and web development resources. 
            a(href='/about/') Learn More
        .tm-follow-us
          a.uk-icon-button.uk-icon-facebook(href='https://www.facebook.com/superdevresources', title='Facebook', target='_blank', rel='nofollow')
          a.uk-icon-button.uk-icon-twitter(href='https://twitter.com/superdevres42', title='Twitter', target='_blank', rel='nofollow')
          a.uk-icon-button.uk-icon-google-plus(href='https://www.google.com/+Superdevresources42', title='Google Plus', target='_blank', rel='nofollow')
          a.uk-icon-button.uk-icon-pinterest(href='https://www.pinterest.com/superdevres42/', title='Pinterest', target='_blank', rel='nofollow')
          a.uk-icon-button.uk-icon-rss(href='http://feeds.feedburner.com/SuperDevResources', title='Rss', target='_blank', rel='nofollow')
      .site-footer-menu
        ul
          li
            a(href='/') Articles
          li
            a(href='/directory/') Directory          
          li
            a(href='/tools/') Tools
          li
            a(href='/subscribe/') Subscribe          
          li
            a(href='/about/') About
          li
            a(href='/privacy-policy/') Privacy Policy
          li
            a(href='/contact/') Contact
      .site-sub-footer
        | Copyright © 
        a(href='http://kunruchcreations.com/', title='KunRuch Creations', target='_blank') KunRuch Creations
        | , All rights reserved.
        br
        | Static page built with Gulp - Theme by 
        a(href='https://kkthemes.com', target='_blank') KKThemes
        |  - Hosting by 
        a(href='/go/digitalocean', rel='external nofollow', target='_blank') DigitalOcean 
        | - 
        a.back-to-top(href='#top')
          i.uk-icon-arrow-up
          |  back to top
    block scripts
